.logo,
.table tbody {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main {
  padding-bottom: 15px;
}

.title {
  font-weight: 300;
}

.title i {
  font-size: 3.3rem;
  vertical-align: sub;
  display: inline-block;
}

.table {
  width: 100%;
  position: relative;
}

.table tbody tr {
  cursor: pointer;
}

.table tbody tr:hover {
  color: #fff !important;
  background-color: #3f51b5 !important;
}

.table tbody tr td.id {
  text-transform: uppercase;
}

.table tbody tr td.manf {
  text-transform: capitalize;
}

.device {
  font-size: 18px;
  margin-right: 10px;
}

.mr15 {
  margin-right: -15px;
}

.nav-extended .tabs {
  height: auto !important;
}

.nav-extended .tabs .tab {
  height: auto !important;
  line-height: inherit !important;
}

.nav-extended .tabs .tab a {
  text-transform: capitalize;
  padding-bottom: 12px !important;
}

.nav-extended .tabs .tab a i {
  margin-bottom: 5px;
  height: auto !important;
  line-height: inherit !important;
}
