<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large indigo">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li><a class="btn-floating btn-large indigo" ng-show="isSaveShown" ng-click="savePhoto();"><i class="material-icons">file_download</i></a></li>
    <li><a class="btn-floating btn-large indigo" ng-click="snap();"><i class="material-icons">photo_camera</i></a></li>
  </ul>
</div>

<div class="card card-50">
  <div class="card-image">
    <img src="assets/images/data/office.jpg" ng-src="{{imgUrl}}">
  </div>
  <div class="card-action">
    <span ng-repeat="item in cameras">
      <label>
        <input type="radio" name="cameras" ng-model="selectedCam.id" ng-value="{{item.id}}" ng-change="snap();">
        <span>{{item.name}}</span>
      </label>
    </span>
  </div>
</div>
