<div class="fixed-action-btn horizontal">
  <a class="btn-floating btn-large indigo" ng-disabled="isCamera" disabled ng-click="savePhoto();">
    <i class="large material-icons">file_download</i>
  </a>
  <a class="btn-floating btn-large indigo" ng-click="snap();">
    <i class="large material-icons">photo_camera</i>
  </a>
</div>

<div class="card card-50">
  <div class="card-image">
    <img src="assets/images/data/office.jpg" ng-src="{{imgUrl}}">
  </div>
  <div class="card-action">
    <span ng-repeat="item in cameras">
      <label>
        <input type="radio" name="cameras" ng-model="selectedCam.id" ng-value="{{item.id}}">
        <span>{{item.name}}</span>
      </label>
    </span>
  </div>
</div>
