<div class="fixed-action-btn horizontal">
  <a class="btn-floating waves-effect waves-light btn-large indigo" ng-click="SaveContacts();">
    <i class="large material-icons">file_download</i>
  </a>
</div>

<div class="contacts" id="parent">
  <table class="table bordered striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody infinite-scroll="increaseLimit()" infinite-scroll-container='"#parent"'>
      <tr ng-repeat="contact in contactsList | limitTo:barLimit">
        <td>{{contact.name}}</td>
        <td>{{contact.phoneNo}}</td>
      </tr>
    </tbody>
  </table>
</div>
